{% extends "blog/base.html" %}
{% block content %}
    <div class="row">
    <div class="card">
    <img src="/media/cryptopotluckroadmap.png" class="card-img">
    </div>
    </div>
    <div class="row">
    <div class="col card">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/x1QFMYHoERk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
    <div class="col card">
       <center> <h1> Community Dynamics of the White Paper</h1>
        <p>In this video we dive into the enter workings of the community & I define the overall basic operations concerning the community infrastructure & what we are setting up to build. For a more In-depth read on this subject read our Steemit Article.</p>
       <br/>
           <button href="https://steemit.com/bitcoin/@cryptopotluck/potluck-community-white-paper-first-social-media-crypto-trading-bot" type="button" class="btn btn-info">Read Article</button>
</center>
    </div>

    </div>
    <div class="row">
    <div class="col card">
<center> <h1> The Launch of Operations Rethink what a bot could be </h1>
        <p>This was the first project update on showing off some key features of the application & what I have been looking to establish.</p>
       <br/>
</center>

    </div>
        <div class="col card">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/X3avx0yEa24" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        </div>
    </div>
{% endblock %}