{% extends "blog/base.html" %}
{% block content %}
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/media/hopper.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><center>Easy Bot to learn</center></h5>
  <center> <div class="container">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Cloud Based Application
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/hoppercloud.png"> <center>Your hopper runs in the cloud 24/7.
      As our service is constantly improving, you’ll also be able to enjoy new features instantly without the hassle of installing updates.</center>
  </div>
</div>

        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
    Templates for Starting &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample2">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/hoppertemp.png"><center>Save and load your own templates to quickly setup and change your trading bots. Sharing and selling of templates will soon be available.</center>
    </div>
</div>

         <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
    Back Testing Capability
  </button>
</p>
<div class="collapse" id="collapseExample3">
  <div class="align-left">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/hopperbacktesting.png"><center>Test your bot configs, tweak your settings and deploy your backtested configs to your trading bot with our backtesting tool.</center>
    </div>
</div>

        <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Warning! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample4">
  <div class="align-left">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/Get-Rich-Quick-Schemes-The-Work.png"><center>This Bot offers Ease of use, Signal Groups are a scam in my opinion & the options for strategy creation is limited.</center>
    </div>
</div>

</div>
      </center>
    </div>
      <center>
    <div class="card-footer row">
      <a href="https://www.cryptohopper.com/?atid=1083" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Free 1 Month</a>
        <a href="https://youtu.be/I6s5Azpq5Q0" tabindex="0" class="btn btn-lg btn-outline-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fab fa-youtube"></i></a>
    </div>
      </center>
  </div>

  <div class="card">
    <img class="card-img-top" src="/media/haasonline.png" alt="Card image cap">
    <center>
      <div class="card-body">
        <h5 class="card-title"><center>Oldest Crypto Bot</center></h5>
      <div class="container">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample5">
    Customizable Dashboard
  </button>
</p>
<div class="collapse" id="collapseExample5">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/dashboard-1.png"> <center>Customizable dashboards enable you to create your ideal command center. Configure your dashboard to keep track of your cryptocurrency trade bots and start trading like a professional today.</center>
  </div>
</div>

        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample6">
    Indicators & Safeties &nbsp;&nbsp;&nbsp;&nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample6">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/Haasonline-Review-Online-Tutorials.png"><center>HaasBots can use +25 technical indicators. As well as proprietary Safeties and Insurances to keep your investments safe.</center>
    </div>
</div>

<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample7">
    Developer Friendly &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample7">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/developerfriendly.jpg"><center>HaasBot supports fully programmable script bots, which are written in C#. This allows you to use our framework and develop fully customized bots that work exactly how you want them to!</center>
    </div>
</div>

         <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample8">
    Advanced Notification &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample8">
  <div class="align-left">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/pushnotifications.png"><center>Stay up to date on what your HaasBots are doing by integrating our software directly with Telegram, Discord or Email. Watch live updates on profits, losses and other trade data.</center>
    </div>
</div>

        <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample9">
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Warning! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample9">
  <div class="align-left">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/clunky.jpg"><center>Being the oldest trading bot is a blessing and curse, you'll find this to be clunky at times.</center>
    </div>
</div>

</div>
    </div></center>
    <div class="card-footer row">
      <a href="https://www.haasonline.com/?ref=2817" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Learn More</a>
        <a href="https://www.youtube.com/watch?v=X1Jo2UrRqsY" tabindex="0" class="btn btn-lg btn-outline-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/media/eonbot5.png" alt="Card image cap">
      <center>
    <div class="card-body">
        <h5 class="card-title"><center>Fastest Trading Bot</center></h5>
      <div class="container">
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample10" aria-expanded="false" aria-controls="collapseExample10">
    Call Multiple API Key &nbsp;&nbsp;&nbsp;&nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample10">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/speedbot.jpg"> <center> Speed is everything in this market, with the ability to interchange API keys on call gives the bot a edge with speed trading.</center>
  </div>
</div>

        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample11" aria-expanded="false" aria-controls="collapseExample11">
    Strategy & Trailing &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample11">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/eonbot_product_img_324px.png"><center>Rollercoaster, pingpong & spark are some of the unique trade strats only available on EonBot</center>
    </div>
</div>

<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample12" aria-expanded="false" aria-controls="collapseExample12">
    No Subscription! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample12">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/onetimepayment.png"><center>Pay once and get updates for life. No Monthly subscription costs.</center>
    </div>
</div>

        <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#collapseExample13" aria-expanded="false" aria-controls="collapseExample13">
     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Warning! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample13">
  <div class="align-left">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/caution.png"><center>This is a small team of 2 developers the updates & support is unsteady at best. </center>
    </div>
</div>

</div>
    </div></center>
    <div class="card-footer row">
      <a href="https://discord.gg/bmE9Bxc" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Learn More</a>
        <a href="https://youtu.be/tdhCrsgs8Wo" tabindex="0" class="btn btn-lg btn-outline-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fab fa-youtube"></i></a>
    </div>
  </div>

    <div class="card-deck py-5">
  <div class="card">
    <img class="card-img-top" src="/media/vpsservers.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><center>Why a VPS?</center></h5>
      <div class="container">
        <button href="https://steemit.com/bitcoin/@cryptopotluck/how-to-setup-vps-servers-for-hosting-your-trading-bots" class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample14" aria-expanded="false" aria-controls="collapseExample14">
    Article on VPS Bot setup &nbsp;
  </button>
</p>
<div class="collapse" id="collapseExample14">
  <div class="">
      <img href="https://www.cryptohopper.com/?atid=1083" class="card-img" src="/media/steemvps.png"> <center> Read this in-depth article on the subject in relation to speed & management capabilities. &nbsp;&nbsp;&nbsp; <a href="https://steemit.com/bitcoin/@cryptopotluck/how-to-setup-vps-servers-for-hosting-your-trading-bots"> Steemit Article</a></center>
  </div>
</div>


</div>
    </div>
    <div class="card-footer row">
      <a href="https://www.vpsserver.com/?affcode=8d10a8321b7d" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Learn More</a>
        <a href="https://steemit.com/bitcoin/@cryptopotluck/how-to-setup-vps-servers-for-hosting-your-trading-bots" tabindex="0" class="btn btn-lg btn-outline-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/media/blank.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/media/blank.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>





      </div>
    </div>
{% endblock content %}