{% extends "blog/base.html" %}

{% block content %}
<div class="container" id="thisone">
<div class="row">
<div class="col">

    <h3><font color="#f0ffff"> Vote on the next update for the platform <i class="far fa-comments"></i></font></h3>
    <h5>{{ message }}</h5>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

    <div class="col">
        <img src="https://cdn.discordapp.com/attachments/419291925322006528/496570187970248714/ballot-box-copy.png">

    </div>
</div>
  </div>
{% endblock %}
